body{
    background-color: aliceblue;
    font-family: 'Phetsarath OT';
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

img{
    /* focus on object*/
    width:  160px;
    height: 160px;
    border-radius: 80px;
    object-fit: cover;
    object-position: center;
}

.form-login{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-top: 30px;
    position: relative;
    text-align: center;
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

.form-input{
    border: 2px solid rgb(147, 147, 147);
    border-radius: 4px;
    width: 280px;
    padding: 10px;
    margin-top: 8px;
}

.text-rm{
    padding-top: 10px;
    position: relative;
    height: 40px;    
}

.text-left{
    font-size: 14px;
    position: absolute;
    left: 20px;
    text-align: left;
}

.text-right{
    font-size: 14px;
    position: absolute;
    right: 20px;
    text-align: right;
}

.btn{
    border: 0px;
    width: 100px;
    background-color: rgb(59, 188, 248);
    color: white;
    padding: 10px;
    border-radius: 4px;
}
